<h4>Lista de Pedidos na Loja:</h4>
<br />
<% @orders.each do |order| %>
  <p>Produto: <%= order.product.title %></p>
  <p>Comprador: <%= order.buyer_name %></p>
  <p>Status: <%= order.status %></p>
  <hr />
<% end %>
 
<a href="/products">Produtos</a>
